{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ partial "page_header.html" . }}

<h4 style="margin: 1em 4em;">Open Digital Health Initiative Database</h4>

<table style="width:90%; margin:1em auto;">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Name of sharer</th>
      <th>Posting date</th>
      <th>Name</th>
      <th>Description</th>
      <th>Openness Rating</th>
    </tr>
  </thead>
  <tbody>
  {{ range $.Site.Data.data }}
   <tr>
    <td>{{ .odhi_entry.id }}</td>
    <td>{{ .odhi_entry.sharerName }}</td>
    <td>{{ .odhi_entry.postDate }}</td>
    <td>{{ .odhi_entry.label }}</td>
    <td>{{ .odhi_entry.description }}</td>
    <td>{{ .odhi_entry.opennessRating }}</td>
  </tr>
  {{ end }}
  </tbody>
</table>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
